<h2>Legitimate business</h2>
<img src="./assets/img/chapter-001-legitimate-business.webp">
<div class="qoute">
    December 1952, Brooklyn
    <br />
    Jack Russel's corner store
</div>
<p>It's always hard to be an immigrant. New places, new rules, new people around. The world has just begun to
    move away from that tragedy that had happened before, the war which had swiped all lands. Many people have
    not returned to their homes. Someone decided to stay in new places to find a better life. Someone did not
    have any option to choose. Fortunately, Jack belonged to the first ones.
    His family had run away from England prior to English Canal was crossed by a “Messerschmitt”. In fact, that
    escape was made from fear as history has shown, not that it matters anymore. He is just an alien, here and
    now, who got lucky to be in touch with his own kind. Strangely enough, most of the migrants moved to
    Brooklyn. </p>
<p>- Jack? - That voice reminded Jack he was not alone. The customer was looking at him waiting for reply. -
    Call
    them. You will be helped.</p>
<p>- Yes… Yes, thank you, Mr. Westler.</p>
<p>The gray-blue suited man tilted nodded. It looked like an approval moving rather than gesture of courtesy.
    And
    then that man turned and walked out of the store leaving Jack alone with his thoughts. The little storeroom
    was
    filled by tinkling bell sound for a few moments. There was a lot to think about. He looked around his store
    as
    if looking for a clue what he was supposed to do.</p>
<p>There were people on the street, under their umbrellas and wrapped up in their own problems. Nobody cared
    about
    his business except him. Well… It was not fair enough, to be honest. There was one woman who has been
    helping
    him with goods lately. Who knows maybe she'll agree to help him with one more thing.</p>
<p>A few hours later he was sitting in the Prospect Park. The rain had stopped, but there were almost no people
    here in that time of year regardless of weather, so they could talk without witnesses and on a fresh air at
    the
    same time. His acquaintance, whose name was Alice, sat next to him. She was a slim woman with a black
    ponytail,
    dressed in brown coat over thick wooly sweater and old fashion paneled long skirt. She was nervous because
    they
    were discussing their high risky and totally illegal idea, of course, but there was only one option, as he
    thought, to keep his business afloat.</p>
<p>- So… Do you think this might work? Can you do that?</p>
<p>- Are you sure we don't have any other choice? Jack, listen… It's just an idea, I've never ever tried this
    before in such large volumes… Where do you plan to get all this stuff by the way? I mean… it's kind of
    illegal,
    isn't it?</p>
<p>- Look around, Alice. If nothing changes, I'll go bankrupt soon. Your recipe is a way to salvation. I've got
    an
    address of some… people who can help us, but I am forced to ask you a favor to come with me. I can't do it
    alone, I'm the last one to know anything in all that chemistry science. Alice, please…</p>
<p>- I don't know, Jack. Give me some time, I'm a little scared in case you haven't noticed.</p>
<p>- Do you want more money? Isn't the percent of revenues I had promised you enough? That is our only chance
    not
    to get into Hooverville flophouse! I'll handle all the business, you must only explain your science things
    and
    nothing more!</p>
<p>How can she be so heartless? Several years of his work are about go down the drain!
</p>