:root {
    --font-size: 16px;
    --font-family: 'Times New Roman', Times, serif;
    --text-color: #333;
    --background-color: #f9f7f1;
    --gap: 1rem;

    --breakpoint-width-xs: 480px;
    --breakpoint-width-s: 768px;
    --breakpoint-width-m: 1024px;
}