.title {
    border-bottom: 3px double black;
    padding: .4rem;

    h1 {
        font-size: calc(var(--gap) * 4);
        font-weight: bold;
        text-align: center;

        @media only screen and (max-width: 1024px) {
            font-size: calc(var(--gap) * 3);
        }
    }
}

.date {
    font-size: .9rem;
    text-align: center;
    width: calc(2 * 100vw / 5);
    margin: auto;
    margin-top: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.columns {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 3px double black;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "left article article article right";
    gap: var(--gap);

    .notes {
        &:nth-child(1) {
            grid-area: left;
        }

        &:nth-child(2) {
            grid-area: right;
        }

        .note {
            text-align: justify;
        }
    }

    .article {
        grid-area: article;

        display: flex;
        flex-direction: column;
        gap: var(--gap);
        text-align: justify;



        .qoute {
            font-style: italic;
            font-size: 1rem;
        }
    }

    @media only screen and (max-width: 1024px) {
        display: flex;

        .notes {
            display: none;
        }

        .article {
            padding: .4rem;
        }
    }
}

footer {
    &::before {
        content: "\00a9 ";
        margin-right: 1rem;
    }
}