.title {
    border-bottom: 3px double black;
    
    h1 {
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
    }
}

.date {
    font: 1em "Roboto Mono", monospace;
    text-align: center;
    width: 280px;
    margin: auto;
    margin-top: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.columns {
    display: flex;
    gap: 1.4rem;
    margin-top: 10px;
    padding-top: 10px;
    flex-direction: row;
    border-top: 3px double black;

    .notes {
        flex: 1;

        .note {
            text-align: justify;
        }
    }

    .article {
        flex: 3;

        display: flex;
        flex-direction: column;
        gap:1rem;
        text-align: justify;

        

        .qoute {
            font-style: italic;
            font-size: 1rem;
        }
    }
}

footer {
    &::before {
        content: "\00a9 ";
        margin-right: 1rem;
    }
}