@import "theme";

:host {
    @include mobile() {
        @include mobile-height();
        @include flex();
    }
}

.title {
    @include flex($justify: center);

    border-bottom: 3px double black;
    padding: .4rem;
}

.aside {
    @include flex($type: row);

    span {
        font-size: .8rem;
        text-align: center;
        border-right: 1px solid black;

        &:nth-child(1) {
            flex: 1;

            @include mobile() {
                display: none;
            }
        }

        &:nth-child(2) {
            flex: 3;
            border-right: none;

            @include mobile() {
                flex: 1;
            }
        }

        &:nth-child(3) {
            flex: 1;

            @include mobile() {
                display: none;
            }
        }
    }
}

nav {
    display: none;
    border-top: 3px double black;
    border-bottom: 3px double black;

    @include mobile() {
        @include flex;
    }
}

.columns {

    @include mobile() {
        flex: 1 1 auto;
    }

    border-top: 3px double black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "left article article article right";
    gap: var(--gap);

    .notes {
        &:nth-child(1) {
            grid-area: left;
        }

        &:nth-child(2) {
            grid-area: right;
        }
    }

    .article {
        grid-area: article;
    }

    @include mobile() {
        @include flex();
        
        border-top: none;

        .notes {
            display: none;
        }

        .article {
            padding: .4rem;
        }
    }
}