<cg-header class="title" [title]="config.title" />
<aside class="aside">
    <span>Sunday, December 21, 1952</span>
    <span>{{config.credo}}</span>
    <span></span>
</aside>
<nav>
    <ng-content select="[nav]"></ng-content>
</nav>
<main class="columns">
    <div class="notes">
        <ng-content select="[left]"></ng-content>
    </div>
    <div class="article">
        <ng-content></ng-content>
    </div>
    <div class="notes">
        <ng-content select="[right]"></ng-content>
    </div>
</main>
<cg-footer class="footer" />