@import '~normalize.css';
@import 'app/app.theme';
@import 'theme';

* {
    box-sizing: border-box;
}

html {
    font-size: var(--font-size);

    @include mobile() {
        @include mobile-height()
    }
}

html,
body {
    font-family: var(--font-family);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: var(--gap);
    min-height: 100vh;

    @include mobile() {
        @include mobile-height()
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fondamento", cursive;
    @include margin;
    @include padding;
}

p {
    @include margin;
    @include padding;
}

img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    image-rendering: pixelated;
}