@import '~normalize.css';
@import 'app/app.theme.scss';

* {
  box-sizing: border-box;
}

html {
    font-size: var(--font-size);
    min-height: 100vh;
}

html,
body {
  font-family: var(--font-family);
  color:var(--text-color);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: var(--gap); 
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fondamento", cursive;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
	width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	image-rendering: pixelated;
}